<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vanilka JS</title>
</head>
<body>
    <div>
        <input type="text" placeholder="Name" id="nameInput">
        <input type="button" value="OK!" id="nameButton">
    </div>
    <ul id="messages"></ul>
    <div>
        <textarea  id="text" cols="30" rows="10"></textarea>
        <input type="button" value="Send" id="textSubmit">
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src='client.js'></script>
</html>
